body {
    background-color:#F875AA;
    color: black;
    margin: 0px;
}

header{
background-color:#940B92;
color: ghostwhite;
padding: 20px;
font-size: 32px;
border-bottom: 2px solid white;
}

section{
background-image: linear-gradient(#F875AA, #FFDFDF);
padding-top: 80px;
padding-bottom: 80px;
text-align: center;
}